+cross_compilers/
+nachos-3.4/README.release
+nachos-3.4/c++example/
+nachos-3.4/code/cscope.out
+nachos-3.4/code/test/test
+nachos-3.4/code/test/modif
+*.coff
+*.o
+nachos-3.4/nachos.ps
+resources/
+nachos-3.4/code/filesys/nachos
+nachos-3.4/code/network/nachos
+nachos-3.4/code/threads/nachos
+nachos-3.4/code/userprog/nachos
+nachos-3.4/code/vm/nachos 